
.btn
	+border-radius($s_border_radius)
	cursor: pointer
	font: 12px "SFUIDisplay-Semibold"
	text-transform: uppercase
	text-align: center
	
.btn_sm
	height: $h_btn_sm
	padding: 11px 0 0 0
	
.btn_lg
	height: $h_btn_lg
	padding: 14px 0 0 0
	
.btn_red
	background: $c_red
	color: #fff
	
	&:hover
		background: $c_red_hover
	
.btn_plus
	&:before
		content: ''
		display: inline-block
		@include icons-sprite(plus)
		width: 14px
		height: 14px
		position: relative
		top: 2px
		left: -32px
		
.btn_search
	padding-top: 17px
	
	&:after
		content: ''
		display: inline-block
		@include icons-sprite(search)
		width: 12px
		height: 12px
		position: relative
		top: 2px
		right: -5px

.btn_find
	width: 80px

.btn_border
	color: $c_header
	border: 2px solid $c_header
	+border-radius(2pt)
	display: inline-block
	font: 11px "SFUIDisplay-Bold"
	padding: 10px 15px 11px 15px
	
	&:hover
		background: $c_header 
		color: #fff
		
.btn_border_red
	border-color: $c_red
	
	&:hover
		background: $c_red
		
.btn_more
	margin-left: -30px
		
.btn_round
	+border-radius(16pt 16pt 0 16pt)
	font: 11px "SFUIDisplay-Medium"
	padding: 9px 15px 10px 15px