*
	@include box-sizing(border-box)
  
*:before,
*:after
	@include box-sizing(border-box)

input:focus,
select:focus,
textarea:focus,
button:focus
	outline: none

input[type=search]
	padding: 0

[role="button"]
	cursor: pointer
	
a
	text-decoration: none
	
hr
	border: none
	margin: 0

h3
	text-transform: uppercase
	
body
	color: $c_footer_link
	+defaultFont
	font-size: 12pt
	-webkit-font-smoothing: antialiased !important
	-webkit-text-size-adjust: none
	overflow-x: hidden
	
.wrapper
	max-width: $w_header
	min-width: 1024px
	margin: 0 auto
	width: 100%
	
.page_left
	position: relative
	
.page_right
	max-width: $w_header - $w_header_left - $w_padding
	padding-right: 0
	position: relative
	
	.row_inner
		.col-lg-1
			width: 11.11111%
			
		.col-sm-2,
		.col-md-2,
		.col-lg-2
			width: 22.22222%
			
		.col-sm-3,
		.col-md-3,
		.col-lg-3
			width: 33.33333%