/* START FOOTER */

footer
	background: $c_header
	min-height: 232px
	padding-top: 30px
	
	.wrapper
		overflow: hidden
		
	.h6-light
		min-height: 27px
		text-transform: uppercase 
		padding-bottom: 15px
		
.footer__list
	font-size: 12px
	
.footer__list__item	
	display: block
	margin-bottom: 10px
	
	.list__item__a
		&:hover
			color: #fff
			text-decoration: none 
			
.footer__bottom
	margin-top: 20px
	border-top: 1px solid $c_footer_divider
	padding-top: 15px
	
	.col-sm-3
		@include display-flex
		align-items: center
		margin-top: -2px
		
		.f_11
			margin-top: -2px
			
	.icon_social_fb
		margin: 0 10px 0 15px
		
.icon_social
	width: 16px
	height: 16px

.icon_social_fb
	@include icons-sprite(fb)
	
	&:hover
		@include icons-sprite(fb_hover)

.icon_social_instagram
	@include icons-sprite(instagram)
	
	&:hover
		@include icons-sprite(instagram_hover)
/* END FOOTER */