/* START HEADER */
header
	background: $c_header 
	height: 106px
	padding: 15px 0 15px 0
	
	.page_left
		.btn
			margin-top: 12px
			padding-right: 14px
			
	.page_right
		.input__search
			width: 100%
			padding-right: 180px
		
		.btn_search_wrapper
			position: relative
			vertical-align: top
			
			.btn_search
				width: 96px
			
		.input__search__wrapper
			position: relative
			vertical-align: top
			width: 100%
			
		.flex
			margin-top: 28px
	
.logo
	width: 60px
	height: 13px
	
.ln
	color: #fff
	font: 11px "SFUIDisplay-Light"
	position: absolute
	top: -2px
	margin-left: 40px
	height: 25px
	
	&:before
		content: ''
		display: inline-block
		width: 12px
		height: 12px
		margin: 0 5px 0 0
		position: relative
		top: 3px

	&:hover
		color: #fff
		text-decoration: underline 
	
	&:active
		color: #fff
		
.ln_ru
	&:before
		content: ""
		@include icons-sprite(flag_ru)

.firefox
	.ln
		top: -1px
		
.today_added
	font: 11px "SFUIDisplay-Light"
	color: #fff
	position: absolute
	top: 0
	
.top_right
	position: absolute
	top: -14px
	height: 40px
	@include display-flex
	@include align-items(center)
	
	a
		@include display-flex
		@include align-items(center)
		height: 40px
	
	.a_enter
		margin: 0 18px 0 15px
		
	.a_event
		width: 25px
		margin-top: 2px
		@include justify-content(center)
		
		&:hover
			.icon_event
				@include icons-sprite(event_hover)

.icon_event
	@include icons-sprite(event)
	width: 12px
	height: 12px

.a_red_underline
	color: $c_red !important
	text-decoration: underline
	
	&:hover
		color: $c_red
		text-decoration: none
		
	&:active
		color: $c_red

/* END HEADER */