.text_center
	text-align: center

.flex
	@include display-flex
		
.top_right
	position: absolute
	top: 0
	right: 0

.table
	display: table
	border-spacing: 0
	border-collapse: collapse 
	
.table_cell
	display: table-cell

.float_no
	float: none

.v_top
	vertical-align: top !important 

.m_tb_15
	margin: 15px 0

.m_lr_15
	margin: 0 15px
	
.m_t_15
	margin-top: 15px
	
.a_blue
	color: $c_blue !important
	text-decoration: underline 
	
	&:hover
		text-decoration: none !important

.a_expand_wrapper
	display: inline-block
	position: relative
	background: $c_page_right
	
.a_expand	
	color: $c_header
	display: block 
	font-size: 11px !important
	height: 24px
	line-height: 24px
	white-space: nowrap
	
	&.active
		&:after
			@include icons-sprite(arrow_up_red)
			
	&:hover
		color: $c_red
	
	&:after
		content: ''
		@include icons-sprite(arrow_down_red)
		width: 6px
		height: 4px
		margin-left: 5px
		margin-top: -2px
		position: absolute
		top: 50%