.input_lg
	color: $c_header
	height: $h_btn_lg
	font-size: 14px
	padding: 0 0 0 15px
	+input_placeholder( 14px, $c_header, 17px )
	
	&::-moz-placeholder
		line-height: 42px

.windows.firefox
	.input_lg 
		&::-moz-placeholder
			line-height: 47px
	
.input__search__example
	color: $c_light_gray
	font-size: 13px
	position: absolute
	top: 18px
	right: 15px
	
	a
		color: $c_light_gray
		text-decoration: underline
		
		&:hover
			color: $c_light_gray
			text-decoration: none
			
		&:active
			color: $c_light_gray

.input_select2
	background-color: $white
	border: 1px solid $color_silver_sand_approx
	+border-radius($border_radius)
	font-size: $font_size
	+defaultFont
	outline: none
	height: $select2_height
	+user-select(none)
	+input_placeholder( $font_size, $color_storm_dust_approx, $font_size+3 )
	padding-left: 10px
	
	&::-moz-placeholder
		line-height: $font_size+20
	
	&:hover,
	&:focus
		border-color: $color_border_hover
		color: $color_log_cabin_approx
		+input_placeholder_color( $color_log_cabin_approx )
		~ .input_twice__divider
			background: $color_border_hover
		
.input_half_left
	+border-top-right-radius(0)
	+border-bottom-right-radius(0)
	border-right: none

.input_half_right
	+border-top-left-radius(0)
	+border-bottom-left-radius(0)
	border-left: none
	
.input_twice
	position: relative

.input_twice__divider	
	background: $color_silver_sand_approx 
	content: ' '
	display: block
	height: $select2_height
	width: 1px
	position: absolute
	left: 50%
	top: 0
	
