// @media (min-width: 320px) and  (max-width: 1200px)
	/* .wrapper */
		/* padding: 0 20px */
		
@media (min-width: 320px) and (max-width: 1105px)
	.b_search__top_visible
		.select2
			width: 110px
		
/* @media (min-width: 320px) and (max-width: 1024px)
	body
		overflow: scroll */
		
/* @media (-webkit-min-device-pixel-ratio: 2)
	.ln_ru
		&:before
			content: url(../images/icons/flag_ru@2x.png) 
			zoom: 0.5 */	