@mixin input_placeholder( $size, $color, $lineHeight )
	&::-webkit-input-placeholder
		font-size: $size
		color: $color
		line-height: $lineHeight
		
	&::-moz-placeholder
		font-size: $size
		color: $color
		line-height: $lineHeight
		
	&:-ms-input-placeholder
		font-size: $size
		color: $color
		line-height: $lineHeight
		
@mixin input_placeholder_color( $color )
	&::-webkit-input-placeholder
		color: $color
		
	&:-moz-placeholder
		color: $color
		
		
	&::-moz-placeholder
		color: $color
		
		
	&:-ms-input-placeholder
		color: $color
	
@mixin defaultFont
	font-family: "SFUIDisplay", "Helvetica", "Tahoma", "Arial"