
@font-face
	font-family: "SFUIDisplay"
	src: url('../../fonts/SFUIDisplay-Regular/SF-UI-Display-Regular.eot')
	src: url('../../fonts/SFUIDisplay-Regular/SF-UI-Display-Regular.eot?#iefix') format('eot'), url('../../fonts/SFUIDisplay-Regular/SF-UI-Display-Regular.svg#SFUIDisplay-Regular') format('svg'), url('../../fonts/SFUIDisplay-Regular/SF-UI-Display-Regular.woff') format('woff'), url('../../fonts/SFUIDisplay-Regular/SF-UI-Display-Regular.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: "SFUIDisplay-Light"
	src: url('../../fonts/SFUIDisplay-Light/SF-UI-Display-Light.eot')
	src: url('../../fonts/SFUIDisplay-Light/SF-UI-Display-Light.eot?#iefix') format('eot'), url('../../fonts/SFUIDisplay-Light/SF-UI-Display-Light.svg#SFUIDisplay-Light') format('svg'), url('../../fonts/SFUIDisplay-Light/SF-UI-Display-Light.woff') format('woff'), url('../../fonts/SFUIDisplay-Light/SF-UI-Display-Light.ttf') format('truetype')

@font-face
	font-family: "SFUIDisplay-Bold"
	src: url('../../fonts/SFUIDisplay-Bold/SF-UI-Display-Bold.eot')
	src: url('../../fonts/SFUIDisplay-Bold/SF-UI-Display-Bold.eot?#iefix') format('eot'), url('../../fonts/SFUIDisplay-Bold/SF-UI-Display-Bold.svg#SFUIDisplay-Regular') format('svg'), url('../../fonts/SFUIDisplay-Bold/SF-UI-Display-Bold.woff') format('woff'), url('../../fonts/SFUIDisplay-Bold/SF-UI-Display-Bold.ttf') format('truetype')

@font-face
	font-family: "SFUIDisplay-Semibold"
	src: url('../../fonts/SFUIDisplay-Semibold/SF-UI-Display-Semibold.eot')
	src: url('../../fonts/SFUIDisplay-Semibold/SF-UI-Display-Semibold.eot?#iefix') format('eot'), url('../../fonts/SFUIDisplay-Semibold/SF-UI-Display-Semibold.svg#SFUIDisplay-Light') format('svg'), url('../../fonts/SFUIDisplay-Semibold/SF-UI-Display-Semibold.woff') format('woff'), url('../../fonts/SFUIDisplay-Semibold/SF-UI-Display-Semibold.ttf') format('truetype')
	
@font-face
	font-family: "SFUIDisplay-Medium"
	src: url('../../fonts/SFUIDisplay-Medium/SF-UI-Display-Medium.eot')
	src: url('../../fonts/SFUIDisplay-Medium/SF-UI-Display-Medium.eot?#iefix') format('eot'), url('../../fonts/SFUIDisplay-Medium/SF-UI-Display-Medium.svg#SFUIDisplay-Light') format('svg'), url('../../fonts/SFUIDisplay-Medium/SF-UI-Display-Medium.woff') format('woff'), url('../../fonts/SFUIDisplay-Medium/SF-UI-Display-Medium.ttf') format('truetype')

.f_11
	font-size: 11px
	
.f_light
	font-family: "SFUIDisplay-Light"

.p_white
	color: #fff

.c_red
	color: $c_red
/* Text Styles from Sketch */

.h1
	font-family: SFUIDisplay-Regular
	font-size: 36pt
	color: $c_header
	line-height: 1.22em

.support-number
	font-family: SFUIDisplay-Semibold
	font-size: 18pt
	color: $c_header
	line-height: 1.22em

.mainsearch-text
	font-family: SFUIDisplay-Regular
	font-size: 14pt
	color: $c_header
	line-height: 1.14em

.product-name
	font-family: SFUIDisplay-Semibold
	font-size: 13pt
	color: #222222
	line-height: 1.23em

.price-thumbnail
	font-family: SFUIDisplay-Semibold
	font-size: 12pt
	color: #222222
	line-height: 1.17em

.active-input-text
	font-family: SFUIDisplay-Regular
	font-size: 12pt
	color: #222222
	line-height: 1.17em

.placeholder-input
	font-family: SFUIDisplay-Regular
	font-size: 12pt
	color: #666666
	line-height: 1.17em

h3
	font-family: SFUIDisplay-Bold
	font-size: 11px
	color: $c_header
	line-height: 1.18em

.h3-red
	font-family: SFUIDisplay-Bold
	font-size: 11px
	color: $c_red
	line-height: 1.18em

.h6-light
	font-family: SFUIDisplay-Bold
	font-size: 11px
	color: #FFFFFF
	line-height: 1.18em
	
/* End Text Styles from Sketch */