/* START LIST OF CARS */
.cars_type
	margin: 0px 0 45px 0

.cars_type__wrapper
	margin-top: 10px
	@include flex-wrap(wrap)
	@include justify-content(space-between)
	position: relative
	
	.a_expand_wrapper
		position: absolute 
		bottom: 0
		right: 68px
		padding-left: 30px
	
.cars_type__list
	max-height: 192px
	width: 20%
	overflow: hidden
	+transition(max-height 0.3s ease-in-out)
		
	.cars_type__list__item
		a
			color: $c_footer_link
			display: inline-block
			height: 24px
			line-height: 24px
			font-size: 12px
			
			&:hover
				color: $c_red
	
.cars_type__list_hidden
	display: none 
	
	.cars_type__list
		height: auto
		margin-top: 0

.cars_list__item
	cursor: pointer
	font: 13px "SFUIDisplay-Semibold"
	margin-bottom: 30px
	
	span
		color: $c_mine_shaft
	
	a
		display: block
		margin: 6px 0 5px 0
		white-space: nowrap
		overflow: hidden
		
	&:hover
		a
			text-decoration: underline
			color: $c_red	
		
.cars_list__item__img
	width: 205px
	height: 153px

.cars_list__item__img_premium
	width: 280px
	height: 210px

.cars_list_premium
	margin: 40px 0 0 0
	padding-top: 37px
	position: relative
	
	h3
		position: absolute
		top: 10px
		left: 0
	
	.btn_round
		position: absolute 
		top: 0
		right: 0
/* END LIST OF CARS */