.nav_horizontal
	position: relative
	overflow: hidden 
	
	ul
		position: relative
		z-index: 2
		
	hr
		background: $c_bg_body
		+border-radius(1px)
		height: 2px
		position: absolute
		bottom: 0px
		left: 0
		right: 0
		z-index: 1 
			
	li
		font: 11px "SFUIDisplay-Bold"
		text-transform: uppercase 
		margin-right: 30px
		position: relative
		white-space: nowrap 
		
		&:last-child
			margin-right: 140px
			
		hr
			background: rgba(0,0,0,0)
			z-index: 3 		
				
		a
			color: $c_header
			padding: 11px 0 12px 0
			display: inline-block
    
			&:hover
				color: $c_red
				text-decoration: none
		
		&.active
			a
				color: $c_red
			hr
				background: $c_red