.b_search
	padding: 15px 0 0 0
	overflow: hidden 
	
	.b_search__top
		width: auto
		/* $w_header */
	
	.b_search__top_visible
		padding-right: 0
	
	.a_expand_wrapper
		margin: 3px 11px 0 0
	
	.b_search__top_hidden
		display: none
		
		.row
			margin-top: 18px
			
		.select2
			width: 100% !important
		
		.input_half
			width: 50% !important
			display: inline-block
			float: left
			
			&.input_half_left
				.select2-selection--single
					+border-top-right-radius(0)
					+border-bottom-right-radius(0)
					border-right: none

			&.input_half_right
				.select2-selection--single
					+border-top-left-radius(0)
					+border-bottom-left-radius(0)
					border-left: none
					
			&:hover,
			&:focus,
			&.select2-container--open
				border-color: $color_border_hover
				color: $color_log_cabin_approx
				+input_placeholder_color( $color_log_cabin_approx )
				~ .input_twice__divider
					background: $color_border_hover