/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 184, icons/*.png */
.icons-sprite, .a_expand.active:after, .a_expand:after, .btn_plus:before, .btn_search:after, .select2-container--default:hover .select2-selection--single .select2-selection__arrow b, .select2-container--default .select2-selection--single .select2-selection__arrow b, .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b, .ln_ru:before, .top_right .a_event:hover .icon_event, .icon_event, .nav_horizontal__tail__handler__l:before, .nav_horizontal__tail__handler__l.rs-carousel-action-active:before, .nav_horizontal__tail__handler__l:hover:before, .nav_horizontal__tail__handler__r:before, .nav_horizontal__tail__handler__r.rs-carousel-action-active:before, .nav_horizontal__tail__handler__r:hover:before, .icon_social_fb, .icon_social_fb:hover, .icon_social_instagram, .icon_social_instagram:hover {
  background-image: url('../../images/sprites/icons-sed3b6252d6.png');
  background-repeat: no-repeat;
}

/* line 184, icons-2x/*.png */
.icons-2x-sprite {
  background-image: url('../../images/sprites/icons-2x-sf2fcb037ff.png');
  background-repeat: no-repeat;
}

/* line 1, ../../sass/_default.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../sass/_default.sass */
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../../sass/_default.sass */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 14, ../../sass/_default.sass */
input[type=search] {
  padding: 0;
}

/* line 17, ../../sass/_default.sass */
[role="button"] {
  cursor: pointer;
}

/* line 20, ../../sass/_default.sass */
a {
  text-decoration: none;
}

/* line 23, ../../sass/_default.sass */
hr {
  border: none;
  margin: 0;
}

/* line 27, ../../sass/_default.sass */
h3 {
  text-transform: uppercase;
}

/* line 30, ../../sass/_default.sass */
body {
  color: #666666;
  font-family: "SFUIDisplay", "Helvetica", "Tahoma", "Arial";
  font-size: 12pt;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
}

/* line 38, ../../sass/_default.sass */
.wrapper {
  max-width: 1180px;
  min-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

/* line 44, ../../sass/_default.sass */
.page_left {
  position: relative;
}

/* line 47, ../../sass/_default.sass */
.page_right {
  max-width: 890px;
  padding-right: 0;
  position: relative;
}
/* line 53, ../../sass/_default.sass */
.page_right .row_inner .col-lg-1 {
  width: 11.11111%;
}
/* line 56, ../../sass/_default.sass */
.page_right .row_inner .col-sm-2,
.page_right .row_inner .col-md-2,
.page_right .row_inner .col-lg-2 {
  width: 22.22222%;
}
/* line 61, ../../sass/_default.sass */
.page_right .row_inner .col-sm-3,
.page_right .row_inner .col-md-3,
.page_right .row_inner .col-lg-3 {
  width: 33.33333%;
}

/* line 1, ../../sass/_helpers.sass */
.text_center {
  text-align: center;
}

/* line 4, ../../sass/_helpers.sass */
.flex {
  display: -webkit-flex;
  display: flex;
}

/* line 7, ../../sass/_helpers.sass */
.top_right {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 12, ../../sass/_helpers.sass */
.table {
  display: table;
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 17, ../../sass/_helpers.sass */
.table_cell {
  display: table-cell;
}

/* line 20, ../../sass/_helpers.sass */
.float_no {
  float: none;
}

/* line 23, ../../sass/_helpers.sass */
.v_top {
  vertical-align: top !important;
}

/* line 26, ../../sass/_helpers.sass */
.m_tb_15 {
  margin: 15px 0;
}

/* line 29, ../../sass/_helpers.sass */
.m_lr_15 {
  margin: 0 15px;
}

/* line 32, ../../sass/_helpers.sass */
.m_t_15 {
  margin-top: 15px;
}

/* line 35, ../../sass/_helpers.sass */
.a_blue {
  color: #1A78C2 !important;
  text-decoration: underline;
}
/* line 39, ../../sass/_helpers.sass */
.a_blue:hover {
  text-decoration: none !important;
}

/* line 42, ../../sass/_helpers.sass */
.a_expand_wrapper {
  display: inline-block;
  position: relative;
  background: #fff;
}

/* line 47, ../../sass/_helpers.sass */
.a_expand {
  color: #2A363B;
  display: block;
  font-size: 11px !important;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}
/* line 56, ../../sass/_helpers.sass */
.a_expand.active:after {
  background-position: -57px -126px;
}
/* line 59, ../../sass/_helpers.sass */
.a_expand:hover {
  color: #F22538;
}
/* line 62, ../../sass/_helpers.sass */
.a_expand:after {
  content: "";
  background-position: -18px -183px;
  width: 6px;
  height: 4px;
  margin-left: 5px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
}

@font-face {
  font-family: "SFUIDisplay";
  src: url("../../fonts/SFUIDisplay-Regular/SF-UI-Display-Regular.eot");
  src: url("../../fonts/SFUIDisplay-Regular/SF-UI-Display-Regular.eot?#iefix") format("eot"), url("../../fonts/SFUIDisplay-Regular/SF-UI-Display-Regular.svg#SFUIDisplay-Regular") format("svg"), url("../../fonts/SFUIDisplay-Regular/SF-UI-Display-Regular.woff") format("woff"), url("../../fonts/SFUIDisplay-Regular/SF-UI-Display-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SFUIDisplay-Light";
  src: url("../../fonts/SFUIDisplay-Light/SF-UI-Display-Light.eot");
  src: url("../../fonts/SFUIDisplay-Light/SF-UI-Display-Light.eot?#iefix") format("eot"), url("../../fonts/SFUIDisplay-Light/SF-UI-Display-Light.svg#SFUIDisplay-Light") format("svg"), url("../../fonts/SFUIDisplay-Light/SF-UI-Display-Light.woff") format("woff"), url("../../fonts/SFUIDisplay-Light/SF-UI-Display-Light.ttf") format("truetype");
}
@font-face {
  font-family: "SFUIDisplay-Bold";
  src: url("../../fonts/SFUIDisplay-Bold/SF-UI-Display-Bold.eot");
  src: url("../../fonts/SFUIDisplay-Bold/SF-UI-Display-Bold.eot?#iefix") format("eot"), url("../../fonts/SFUIDisplay-Bold/SF-UI-Display-Bold.svg#SFUIDisplay-Regular") format("svg"), url("../../fonts/SFUIDisplay-Bold/SF-UI-Display-Bold.woff") format("woff"), url("../../fonts/SFUIDisplay-Bold/SF-UI-Display-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SFUIDisplay-Semibold";
  src: url("../../fonts/SFUIDisplay-Semibold/SF-UI-Display-Semibold.eot");
  src: url("../../fonts/SFUIDisplay-Semibold/SF-UI-Display-Semibold.eot?#iefix") format("eot"), url("../../fonts/SFUIDisplay-Semibold/SF-UI-Display-Semibold.svg#SFUIDisplay-Light") format("svg"), url("../../fonts/SFUIDisplay-Semibold/SF-UI-Display-Semibold.woff") format("woff"), url("../../fonts/SFUIDisplay-Semibold/SF-UI-Display-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "SFUIDisplay-Medium";
  src: url("../../fonts/SFUIDisplay-Medium/SF-UI-Display-Medium.eot");
  src: url("../../fonts/SFUIDisplay-Medium/SF-UI-Display-Medium.eot?#iefix") format("eot"), url("../../fonts/SFUIDisplay-Medium/SF-UI-Display-Medium.svg#SFUIDisplay-Light") format("svg"), url("../../fonts/SFUIDisplay-Medium/SF-UI-Display-Medium.woff") format("woff"), url("../../fonts/SFUIDisplay-Medium/SF-UI-Display-Medium.ttf") format("truetype");
}
/* line 29, ../../sass/_typography.sass */
.f_11 {
  font-size: 11px;
}

/* line 32, ../../sass/_typography.sass */
.f_light {
  font-family: "SFUIDisplay-Light";
}

/* line 35, ../../sass/_typography.sass */
.p_white {
  color: #fff;
}

/* line 38, ../../sass/_typography.sass */
.c_red {
  color: #F22538;
}

/* Text Styles from Sketch */
/* line 42, ../../sass/_typography.sass */
.h1 {
  font-family: SFUIDisplay-Regular;
  font-size: 36pt;
  color: #2A363B;
  line-height: 1.22em;
}

/* line 48, ../../sass/_typography.sass */
.support-number {
  font-family: SFUIDisplay-Semibold;
  font-size: 18pt;
  color: #2A363B;
  line-height: 1.22em;
}

/* line 54, ../../sass/_typography.sass */
.mainsearch-text {
  font-family: SFUIDisplay-Regular;
  font-size: 14pt;
  color: #2A363B;
  line-height: 1.14em;
}

/* line 60, ../../sass/_typography.sass */
.product-name {
  font-family: SFUIDisplay-Semibold;
  font-size: 13pt;
  color: #222222;
  line-height: 1.23em;
}

/* line 66, ../../sass/_typography.sass */
.price-thumbnail {
  font-family: SFUIDisplay-Semibold;
  font-size: 12pt;
  color: #222222;
  line-height: 1.17em;
}

/* line 72, ../../sass/_typography.sass */
.active-input-text {
  font-family: SFUIDisplay-Regular;
  font-size: 12pt;
  color: #222222;
  line-height: 1.17em;
}

/* line 78, ../../sass/_typography.sass */
.placeholder-input {
  font-family: SFUIDisplay-Regular;
  font-size: 12pt;
  color: #666666;
  line-height: 1.17em;
}

/* line 84, ../../sass/_typography.sass */
h3 {
  font-family: SFUIDisplay-Bold;
  font-size: 11px;
  color: #2A363B;
  line-height: 1.18em;
}

/* line 90, ../../sass/_typography.sass */
.h3-red {
  font-family: SFUIDisplay-Bold;
  font-size: 11px;
  color: #F22538;
  line-height: 1.18em;
}

/* line 96, ../../sass/_typography.sass */
.h6-light {
  font-family: SFUIDisplay-Bold;
  font-size: 11px;
  color: #FFFFFF;
  line-height: 1.18em;
}

/* End Text Styles from Sketch */
/* line 2, ../../sass/_buttons.sass */
.btn {
  -moz-border-radius: 1pt;
  -webkit-border-radius: 1pt;
  border-radius: 1pt;
  cursor: pointer;
  font: 12px "SFUIDisplay-Semibold";
  text-transform: uppercase;
  text-align: center;
}

/* line 9, ../../sass/_buttons.sass */
.btn_sm {
  height: 36px;
  padding: 11px 0 0 0;
}

/* line 13, ../../sass/_buttons.sass */
.btn_lg {
  height: 48px;
  padding: 14px 0 0 0;
}

/* line 17, ../../sass/_buttons.sass */
.btn_red {
  background: #F22538;
  color: #fff;
}
/* line 21, ../../sass/_buttons.sass */
.btn_red:hover {
  background: #CC2837;
}

/* line 25, ../../sass/_buttons.sass */
.btn_plus:before {
  content: "";
  display: inline-block;
  background-position: -163px -12px;
  width: 14px;
  height: 14px;
  position: relative;
  top: 2px;
  left: -32px;
}

/* line 35, ../../sass/_buttons.sass */
.btn_search {
  padding-top: 17px;
}
/* line 38, ../../sass/_buttons.sass */
.btn_search:after {
  content: "";
  display: inline-block;
  background-position: -177px 0;
  width: 12px;
  height: 12px;
  position: relative;
  top: 2px;
  right: -5px;
}

/* line 48, ../../sass/_buttons.sass */
.btn_find {
  width: 80px;
}

/* line 51, ../../sass/_buttons.sass */
.btn_border {
  color: #2A363B;
  border: 2px solid #2A363B;
  -moz-border-radius: 2pt;
  -webkit-border-radius: 2pt;
  border-radius: 2pt;
  display: inline-block;
  font: 11px "SFUIDisplay-Bold";
  padding: 10px 15px 11px 15px;
}
/* line 59, ../../sass/_buttons.sass */
.btn_border:hover {
  background: #2A363B;
  color: #fff;
}

/* line 63, ../../sass/_buttons.sass */
.btn_border_red {
  border-color: #F22538;
}
/* line 66, ../../sass/_buttons.sass */
.btn_border_red:hover {
  background: #F22538;
}

/* line 69, ../../sass/_buttons.sass */
.btn_more {
  margin-left: -30px;
}

/* line 72, ../../sass/_buttons.sass */
.btn_round {
  -moz-border-radius: 16pt 16pt 0 16pt;
  -webkit-border-radius: 16pt;
  border-radius: 16pt 16pt 0 16pt;
  font: 11px "SFUIDisplay-Medium";
  padding: 9px 15px 10px 15px;
}

/* line 1, ../../sass/_icons.sass */
.icon {
  display: block;
}

/* line 23, ../../plugins/select2/sass/_select2.sass */
.select2 {
  /* width: $select2_width */
  width: 100%;
  margin: 0 20px;
}
/* line 28, ../../plugins/select2/sass/_select2.sass */
.select2:first-child {
  margin-left: 0;
}
/* line 31, ../../plugins/select2/sass/_select2.sass */
.select2:last-child {
  margin-right: 0;
}

/* line 34, ../../plugins/select2/sass/_select2.sass */
.select2-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}
/* line 40, ../../plugins/select2/sass/_select2.sass */
.select2-container .select2-selection--single {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 36px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 46, ../../plugins/select2/sass/_select2.sass */
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  margin-top: -1px;
  padding-left: 10px;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 55, ../../plugins/select2/sass/_select2.sass */
.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}
/* line 58, ../../plugins/select2/sass/_select2.sass */
.select2-container .select2-selection--multiple {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 32px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 64, ../../plugins/select2/sass/_select2.sass */
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 72, ../../plugins/select2/sass/_select2.sass */
.select2-container .select2-search--inline {
  float: left;
}
/* line 74, ../../plugins/select2/sass/_select2.sass */
.select2-container .select2-search--inline .select2-search__field {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
  padding: 0;
}

/* line 85, ../../plugins/select2/sass/_select2.sass */
.select2-dropdown {
  background-color: white;
  border: 1px solid #2A363B;
  -moz-border-radius: 2pt;
  -webkit-border-radius: 2pt;
  border-radius: 2pt;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 12px;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

/* line 97, ../../plugins/select2/sass/_select2.sass */
.select2-results {
  display: block;
}

/* line 100, ../../plugins/select2/sass/_select2.sass */
.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

/* line 106, ../../plugins/select2/sass/_select2.sass */
.select2-results__option {
  padding: 9px 10px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 110, ../../plugins/select2/sass/_select2.sass */
.select2-results__option[aria-selected] {
  cursor: pointer;
}

/* line 114, ../../plugins/select2/sass/_select2.sass */
.select2-container--open .select2-dropdown {
  left: 0;
}
/* line 117, ../../plugins/select2/sass/_select2.sass */
.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 122, ../../plugins/select2/sass/_select2.sass */
.select2-container--open .select2-dropdown--below {
  border-top: none;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

/* line 128, ../../plugins/select2/sass/_select2.sass */
.select2-search--dropdown {
  display: block;
  position: absolute;
  top: -32px;
  left: 0;
  right: 25px;
  overflow: hidden;
}
/* line 137, ../../plugins/select2/sass/_select2.sass */
.select2-search--dropdown .select2-search__field {
  height: 30px;
  font-size: 12px;
  padding: 1px 4px 4px 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 18, ../../sass/_mixins.sass */
.select2-search--dropdown .select2-search__field::-webkit-input-placeholder {
  color: #666666;
}
/* line 21, ../../sass/_mixins.sass */
.select2-search--dropdown .select2-search__field:-moz-placeholder {
  color: #666666;
}
/* line 25, ../../sass/_mixins.sass */
.select2-search--dropdown .select2-search__field::-moz-placeholder {
  color: #666666;
}
/* line 29, ../../sass/_mixins.sass */
.select2-search--dropdown .select2-search__field:-ms-input-placeholder {
  color: #666666;
}
/* line 146, ../../plugins/select2/sass/_select2.sass */
.select2-search--dropdown.select2-search--hide {
  display: none;
}

/* line 151, ../../plugins/select2/sass/_select2.sass */
.safari .select2-search--dropdown .select2-search__field {
  padding-left: 7px;
}

/* line 154, ../../plugins/select2/sass/_select2.sass */
.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: white;
  filter: alpha(opacity=0);
}

/* line 171, ../../plugins/select2/sass/_select2.sass */
.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  display: none;
}

/* line 184, ../../plugins/select2/sass/_select2.sass */
.select2-container--default:hover .select2-selection--single {
  border-color: #2A363B;
}
/* line 187, ../../plugins/select2/sass/_select2.sass */
.select2-container--default:hover .select2-selection--single .select2-selection__rendered {
  color: #222;
}
/* line 191, ../../plugins/select2/sass/_select2.sass */
.select2-container--default:hover .select2-selection--single .select2-selection__arrow b {
  background-position: 0 -192px;
}
/* line 194, ../../plugins/select2/sass/_select2.sass */
.select2-container--default:hover .select2-selection--single .select2-selection__placeholder {
  color: #222;
}
/* line 197, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--single {
  background-color: white;
  border: 1px solid #c2c2c2;
  -moz-border-radius: 2pt;
  -webkit-border-radius: 2pt;
  border-radius: 2pt;
  font-size: 12px;
  outline: none;
}
/* line 203, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #666666;
  line-height: 36px;
}
/* line 207, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
/* line 212, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}
/* line 215, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
/* line 221, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-position: -9px -187px;
  height: 5px;
  left: 50%;
  margin-left: -9px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 9px;
}
/* line 232, ../../plugins/select2/sass/_select2.sass */
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}
/* line 235, ../../plugins/select2/sass/_select2.sass */
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}
/* line 239, ../../plugins/select2/sass/_select2.sass */
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}
/* line 243, ../../plugins/select2/sass/_select2.sass */
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}
/* line 248, ../../plugins/select2/sass/_select2.sass */
.select2-container--default.select2-container--open .select2-selection__rendered {
  color: #222;
  border-bottom: 1px solid #F6F6F6;
}
/* line 253, ../../plugins/select2/sass/_select2.sass */
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-color: #2A363B;
  border-bottom: none;
}
/* line 259, ../../plugins/select2/sass/_select2.sass */
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  border-color: #2A363B;
  border-bottom: none;
}
/* line 267, ../../plugins/select2/sass/_select2.sass */
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #2A363B;
  border-bottom: none;
}
/* line 273, ../../plugins/select2/sass/_select2.sass */
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: #2A363B;
  border-bottom: none;
}
/* line 280, ../../plugins/select2/sass/_select2.sass */
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background-position: -48px -130px;
}
/* line 284, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  -moz-border-radius: 2pt;
  -webkit-border-radius: 2pt;
  border-radius: 2pt;
  cursor: text;
}
/* line 289, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
/* line 296, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}
/* line 301, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}
/* line 308, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  -moz-border-radius: 2pt;
  -webkit-border-radius: 2pt;
  border-radius: 2pt;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
}
/* line 318, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
/* line 324, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}
/* line 329, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}
/* line 332, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}
/* line 335, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #F6F6F6;
}
/* line 338, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #F6F6F6;
}
/* line 341, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
/* line 346, ../../plugins/select2/sass/_select2.sass */
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: none;
}
/* line 350, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid transparent;
}
/* line 353, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 359, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
/* line 363, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}
/* line 365, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}
/* line 368, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
/* line 371, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
/* line 374, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
/* line 377, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
/* line 380, ../../plugins/select2/sass/_select2.sass */
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

/* line 389, ../../plugins/select2/sass/_select2.sass */
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left;
}
/* line 392, ../../plugins/select2/sass/_select2.sass */
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto;
}
/* line 398, ../../plugins/select2/sass/_select2.sass */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  float: right;
  margin-left: 5px;
  margin-right: auto;
}
/* line 403, ../../plugins/select2/sass/_select2.sass */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
  float: right;
}
/* line 406, ../../plugins/select2/sass/_select2.sass */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right;
}
/* line 409, ../../plugins/select2/sass/_select2.sass */
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto;
}

/* line 415, ../../plugins/select2/sass/_select2.sass */
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
}

/* line 1, ../../sass/_inputs.sass */
.input_lg {
  color: #2A363B;
  height: 48px;
  font-size: 14px;
  padding: 0 0 0 15px;
}
/* line 2, ../../sass/_mixins.sass */
.input_lg::-webkit-input-placeholder {
  font-size: 14px;
  color: #2A363B;
  line-height: 17px;
}
/* line 7, ../../sass/_mixins.sass */
.input_lg::-moz-placeholder {
  font-size: 14px;
  color: #2A363B;
  line-height: 17px;
}
/* line 12, ../../sass/_mixins.sass */
.input_lg:-ms-input-placeholder {
  font-size: 14px;
  color: #2A363B;
  line-height: 17px;
}
/* line 8, ../../sass/_inputs.sass */
.input_lg::-moz-placeholder {
  line-height: 42px;
}

/* line 13, ../../sass/_inputs.sass */
.windows.firefox .input_lg::-moz-placeholder {
  line-height: 47px;
}

/* line 16, ../../sass/_inputs.sass */
.input__search__example {
  color: #999999;
  font-size: 13px;
  position: absolute;
  top: 18px;
  right: 15px;
}
/* line 23, ../../sass/_inputs.sass */
.input__search__example a {
  color: #999999;
  text-decoration: underline;
}
/* line 27, ../../sass/_inputs.sass */
.input__search__example a:hover {
  color: #999999;
  text-decoration: none;
}
/* line 31, ../../sass/_inputs.sass */
.input__search__example a:active {
  color: #999999;
}

/* line 34, ../../sass/_inputs.sass */
.input_select2 {
  background-color: white;
  border: 1px solid #c2c2c2;
  -moz-border-radius: 2pt;
  -webkit-border-radius: 2pt;
  border-radius: 2pt;
  font-size: 12px;
  font-family: "SFUIDisplay", "Helvetica", "Tahoma", "Arial";
  outline: none;
  height: 36px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding-left: 10px;
}
/* line 2, ../../sass/_mixins.sass */
.input_select2::-webkit-input-placeholder {
  font-size: 12px;
  color: #666666;
  line-height: 15px;
}
/* line 7, ../../sass/_mixins.sass */
.input_select2::-moz-placeholder {
  font-size: 12px;
  color: #666666;
  line-height: 15px;
}
/* line 12, ../../sass/_mixins.sass */
.input_select2:-ms-input-placeholder {
  font-size: 12px;
  color: #666666;
  line-height: 15px;
}
/* line 46, ../../sass/_inputs.sass */
.input_select2::-moz-placeholder {
  line-height: 32px;
}
/* line 49, ../../sass/_inputs.sass */
.input_select2:hover, .input_select2:focus {
  border-color: #2A363B;
  color: #222;
}
/* line 18, ../../sass/_mixins.sass */
.input_select2:hover::-webkit-input-placeholder, .input_select2:focus::-webkit-input-placeholder {
  color: #222;
}
/* line 21, ../../sass/_mixins.sass */
.input_select2:hover:-moz-placeholder, .input_select2:focus:-moz-placeholder {
  color: #222;
}
/* line 25, ../../sass/_mixins.sass */
.input_select2:hover::-moz-placeholder, .input_select2:focus::-moz-placeholder {
  color: #222;
}
/* line 29, ../../sass/_mixins.sass */
.input_select2:hover:-ms-input-placeholder, .input_select2:focus:-ms-input-placeholder {
  color: #222;
}
/* line 54, ../../sass/_inputs.sass */
.input_select2:hover ~ .input_twice__divider, .input_select2:focus ~ .input_twice__divider {
  background: #2A363B;
}

/* line 57, ../../sass/_inputs.sass */
.input_half_left {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

/* line 62, ../../sass/_inputs.sass */
.input_half_right {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

/* line 67, ../../sass/_inputs.sass */
.input_twice {
  position: relative;
}

/* line 70, ../../sass/_inputs.sass */
.input_twice__divider {
  background: #c2c2c2;
  content: " ";
  display: block;
  height: 36px;
  width: 1px;
  position: absolute;
  left: 50%;
  top: 0;
}

/* START HEADER */
/* line 2, ../../sass/_header.sass */
header {
  background: #2A363B;
  height: 106px;
  padding: 15px 0 15px 0;
}
/* line 8, ../../sass/_header.sass */
header .page_left .btn {
  margin-top: 12px;
  padding-right: 14px;
}
/* line 13, ../../sass/_header.sass */
header .page_right .input__search {
  width: 100%;
  padding-right: 180px;
}
/* line 17, ../../sass/_header.sass */
header .page_right .btn_search_wrapper {
  position: relative;
  vertical-align: top;
}
/* line 21, ../../sass/_header.sass */
header .page_right .btn_search_wrapper .btn_search {
  width: 96px;
}
/* line 24, ../../sass/_header.sass */
header .page_right .input__search__wrapper {
  position: relative;
  vertical-align: top;
  width: 100%;
}
/* line 29, ../../sass/_header.sass */
header .page_right .flex {
  margin-top: 28px;
}

/* line 32, ../../sass/_header.sass */
.logo {
  width: 60px;
  height: 13px;
}

/* line 36, ../../sass/_header.sass */
.ln {
  color: #fff;
  font: 11px "SFUIDisplay-Light";
  position: absolute;
  top: -2px;
  margin-left: 40px;
  height: 25px;
}
/* line 44, ../../sass/_header.sass */
.ln:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px 0 0;
  position: relative;
  top: 3px;
}
/* line 53, ../../sass/_header.sass */
.ln:hover {
  color: #fff;
  text-decoration: underline;
}
/* line 57, ../../sass/_header.sass */
.ln:active {
  color: #fff;
}

/* line 61, ../../sass/_header.sass */
.ln_ru:before {
  content: "";
  background-position: -119px -58px;
}

/* line 66, ../../sass/_header.sass */
.firefox .ln {
  top: -1px;
}

/* line 69, ../../sass/_header.sass */
.today_added {
  font: 11px "SFUIDisplay-Light";
  color: #fff;
  position: absolute;
  top: 0;
}

/* line 75, ../../sass/_header.sass */
.top_right {
  position: absolute;
  top: -14px;
  height: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
/* line 82, ../../sass/_header.sass */
.top_right a {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 40px;
}
/* line 87, ../../sass/_header.sass */
.top_right .a_enter {
  margin: 0 18px 0 15px;
}
/* line 90, ../../sass/_header.sass */
.top_right .a_event {
  width: 25px;
  margin-top: 2px;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 96, ../../sass/_header.sass */
.top_right .a_event:hover .icon_event {
  background-position: -75px -102px;
}

/* line 99, ../../sass/_header.sass */
.icon_event {
  background-position: -63px -114px;
  width: 12px;
  height: 12px;
}
/* line 59, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon_event:hover, .icon_event.event-hover {
  background-position: -75px -102px;
}

/* line 104, ../../sass/_header.sass */
.a_red_underline {
  color: #F22538 !important;
  text-decoration: underline;
}
/* line 108, ../../sass/_header.sass */
.a_red_underline:hover {
  color: #F22538;
  text-decoration: none;
}
/* line 112, ../../sass/_header.sass */
.a_red_underline:active {
  color: #F22538;
}

/* END HEADER */
/* START MAIN PAGE */
/* line 2, ../../sass/pages/_page_default.sass */
.list__item__a {
  color: #666666;
  font-size: 12px;
}

/* line 6, ../../sass/pages/_page_default.sass */
.page {
  min-height: 500px;
  position: relative;
}
/* line 10, ../../sass/pages/_page_default.sass */
.page:before {
  background: #F6F6F6;
  content: "";
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
/* line 22, ../../sass/pages/_page_default.sass */
.page > .wrapper > .row.table {
  margin: 0 auto;
}
/* line 25, ../../sass/pages/_page_default.sass */
.page .page_left {
  padding-left: 0;
  background: #fff;
  z-index: 1;
  vertical-align: top;
}
/* line 31, ../../sass/pages/_page_default.sass */
.page .page_left .page_left_bg {
  background: #F6F6F6;
  position: absolute;
  top: 0;
  left: 0;
  right: 10px;
  bottom: 0;
  z-index: -1;
}
/* line 40, ../../sass/pages/_page_default.sass */
.page .page_left .page_left_content {
  padding-bottom: 80px;
}
/* line 43, ../../sass/pages/_page_default.sass */
.page .page_left h3 {
  border-top: 1px solid #C4C4C4;
  outline: none;
}
/* line 47, ../../sass/pages/_page_default.sass */
.page .page_left h3:first-child {
  border-top: none;
  padding-top: 5px;
  margin-bottom: -5px;
}
/* line 52, ../../sass/pages/_page_default.sass */
.page .page_left h3 .bounce {
  margin-left: 10px;
}
/* line 55, ../../sass/pages/_page_default.sass */
.page .page_left h3 a {
  color: #2A363B;
  display: block;
  min-height: 43px;
  line-height: 43px;
}
/* line 61, ../../sass/pages/_page_default.sass */
.page .page_left .menu_left {
  padding-right: 20px;
}
/* line 64, ../../sass/pages/_page_default.sass */
.page .page_left .menu_left__list {
  margin-bottom: 20px;
}
/* line 67, ../../sass/pages/_page_default.sass */
.page .page_left .list__item__a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
}
/* line 72, ../../sass/pages/_page_default.sass */
.page .page_left .list__item__a:hover {
  text-decoration: underline;
}
/* line 75, ../../sass/pages/_page_default.sass */
.page .page_left .banner {
  margin: 15px 0 28px 0;
}
/* line 78, ../../sass/pages/_page_default.sass */
.page .page_right {
  background: #fff;
  padding-top: 10px;
}

/* line 82, ../../sass/pages/_page_default.sass */
#fb_widget {
  margin-bottom: 20px;
}

/* line 85, ../../sass/pages/_page_default.sass */
.support {
  position: absolute;
  bottom: 30px;
}
/* line 89, ../../sass/pages/_page_default.sass */
.support .f_11 {
  color: #666666;
}
/* line 92, ../../sass/pages/_page_default.sass */
.support .phone {
  color: #2A363B;
  display: block;
  font: 18px "SFUIDisplay-Semibold";
  margin-top: 6px;
}

/* line 98, ../../sass/pages/_page_default.sass */
.bounce {
  -moz-border-radius: 2pt;
  -webkit-border-radius: 2pt;
  border-radius: 2pt;
  font: 10px "SFUIDisplay-Semibold";
  padding: 4px 4px 5px;
}

/* line 103, ../../sass/pages/_page_default.sass */
.bounce_gray {
  background: #DDDDDD;
  color: #2A363B;
}

/* line 1, ../../sass/blocks/_b_search.sass */
.b_search {
  padding: 15px 0 0 0;
  overflow: hidden;
}
/* line 5, ../../sass/blocks/_b_search.sass */
.b_search .b_search__top {
  width: auto;
  /* $w_header */
}
/* line 9, ../../sass/blocks/_b_search.sass */
.b_search .b_search__top_visible {
  padding-right: 0;
}
/* line 12, ../../sass/blocks/_b_search.sass */
.b_search .a_expand_wrapper {
  margin: 3px 11px 0 0;
}
/* line 15, ../../sass/blocks/_b_search.sass */
.b_search .b_search__top_hidden {
  display: none;
}
/* line 18, ../../sass/blocks/_b_search.sass */
.b_search .b_search__top_hidden .row {
  margin-top: 18px;
}
/* line 21, ../../sass/blocks/_b_search.sass */
.b_search .b_search__top_hidden .select2 {
  width: 100% !important;
}
/* line 24, ../../sass/blocks/_b_search.sass */
.b_search .b_search__top_hidden .input_half {
  width: 50% !important;
  display: inline-block;
  float: left;
}
/* line 30, ../../sass/blocks/_b_search.sass */
.b_search .b_search__top_hidden .input_half.input_half_left .select2-selection--single {
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
/* line 36, ../../sass/blocks/_b_search.sass */
.b_search .b_search__top_hidden .input_half.input_half_right .select2-selection--single {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
/* line 41, ../../sass/blocks/_b_search.sass */
.b_search .b_search__top_hidden .input_half:hover, .b_search .b_search__top_hidden .input_half:focus, .b_search .b_search__top_hidden .input_half.select2-container--open {
  border-color: #2A363B;
  color: #222;
}
/* line 18, ../../sass/_mixins.sass */
.b_search .b_search__top_hidden .input_half:hover::-webkit-input-placeholder, .b_search .b_search__top_hidden .input_half:focus::-webkit-input-placeholder, .b_search .b_search__top_hidden .input_half.select2-container--open::-webkit-input-placeholder {
  color: #222;
}
/* line 21, ../../sass/_mixins.sass */
.b_search .b_search__top_hidden .input_half:hover:-moz-placeholder, .b_search .b_search__top_hidden .input_half:focus:-moz-placeholder, .b_search .b_search__top_hidden .input_half.select2-container--open:-moz-placeholder {
  color: #222;
}
/* line 25, ../../sass/_mixins.sass */
.b_search .b_search__top_hidden .input_half:hover::-moz-placeholder, .b_search .b_search__top_hidden .input_half:focus::-moz-placeholder, .b_search .b_search__top_hidden .input_half.select2-container--open::-moz-placeholder {
  color: #222;
}
/* line 29, ../../sass/_mixins.sass */
.b_search .b_search__top_hidden .input_half:hover:-ms-input-placeholder, .b_search .b_search__top_hidden .input_half:focus:-ms-input-placeholder, .b_search .b_search__top_hidden .input_half.select2-container--open:-ms-input-placeholder {
  color: #222;
}
/* line 47, ../../sass/blocks/_b_search.sass */
.b_search .b_search__top_hidden .input_half:hover ~ .input_twice__divider, .b_search .b_search__top_hidden .input_half:focus ~ .input_twice__divider, .b_search .b_search__top_hidden .input_half.select2-container--open ~ .input_twice__divider {
  background: #2A363B;
}

/* line 1, ../../sass/blocks/_b_navigation.sass */
.nav_horizontal {
  position: relative;
  overflow: hidden;
}
/* line 5, ../../sass/blocks/_b_navigation.sass */
.nav_horizontal ul {
  position: relative;
  z-index: 2;
}
/* line 9, ../../sass/blocks/_b_navigation.sass */
.nav_horizontal hr {
  background: #F6F6F6;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 1;
}
/* line 19, ../../sass/blocks/_b_navigation.sass */
.nav_horizontal li {
  font: 11px "SFUIDisplay-Bold";
  text-transform: uppercase;
  margin-right: 30px;
  position: relative;
  white-space: nowrap;
}
/* line 26, ../../sass/blocks/_b_navigation.sass */
.nav_horizontal li:last-child {
  margin-right: 140px;
}
/* line 29, ../../sass/blocks/_b_navigation.sass */
.nav_horizontal li hr {
  background: transparent;
  z-index: 3;
}
/* line 33, ../../sass/blocks/_b_navigation.sass */
.nav_horizontal li a {
  color: #2A363B;
  padding: 11px 0 12px 0;
  display: inline-block;
}
/* line 38, ../../sass/blocks/_b_navigation.sass */
.nav_horizontal li a:hover {
  color: #F22538;
  text-decoration: none;
}
/* line 43, ../../sass/blocks/_b_navigation.sass */
.nav_horizontal li.active a {
  color: #F22538;
}
/* line 45, ../../sass/blocks/_b_navigation.sass */
.nav_horizontal li.active hr {
  background: #F22538;
}

/* START LIST OF CARS */
/* line 2, ../../sass/blocks/_b_cars_list.sass */
.cars_type {
  margin: 0px 0 45px 0;
}

/* line 5, ../../sass/blocks/_b_cars_list.sass */
.cars_type__wrapper {
  margin-top: 10px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
}
/* line 11, ../../sass/blocks/_b_cars_list.sass */
.cars_type__wrapper .a_expand_wrapper {
  position: absolute;
  bottom: 0;
  right: 68px;
  padding-left: 30px;
}

/* line 17, ../../sass/blocks/_b_cars_list.sass */
.cars_type__list {
  max-height: 192px;
  width: 20%;
  overflow: hidden;
  -moz-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}
/* line 24, ../../sass/blocks/_b_cars_list.sass */
.cars_type__list .cars_type__list__item a {
  color: #666666;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}
/* line 31, ../../sass/blocks/_b_cars_list.sass */
.cars_type__list .cars_type__list__item a:hover {
  color: #F22538;
}

/* line 34, ../../sass/blocks/_b_cars_list.sass */
.cars_type__list_hidden {
  display: none;
}
/* line 37, ../../sass/blocks/_b_cars_list.sass */
.cars_type__list_hidden .cars_type__list {
  height: auto;
  margin-top: 0;
}

/* line 41, ../../sass/blocks/_b_cars_list.sass */
.cars_list__item {
  cursor: pointer;
  font: 13px "SFUIDisplay-Semibold";
  margin-bottom: 30px;
}
/* line 46, ../../sass/blocks/_b_cars_list.sass */
.cars_list__item span {
  color: #222222;
}
/* line 49, ../../sass/blocks/_b_cars_list.sass */
.cars_list__item a {
  display: block;
  margin: 6px 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
}
/* line 56, ../../sass/blocks/_b_cars_list.sass */
.cars_list__item:hover a {
  text-decoration: underline;
  color: #F22538;
}

/* line 60, ../../sass/blocks/_b_cars_list.sass */
.cars_list__item__img {
  width: 205px;
  height: 153px;
}

/* line 64, ../../sass/blocks/_b_cars_list.sass */
.cars_list__item__img_premium {
  width: 280px;
  height: 210px;
}

/* line 68, ../../sass/blocks/_b_cars_list.sass */
.cars_list_premium {
  margin: 40px 0 0 0;
  padding-top: 37px;
  position: relative;
}
/* line 73, ../../sass/blocks/_b_cars_list.sass */
.cars_list_premium h3 {
  position: absolute;
  top: 10px;
  left: 0;
}
/* line 78, ../../sass/blocks/_b_cars_list.sass */
.cars_list_premium .btn_round {
  position: absolute;
  top: 0;
  right: 0;
}

/* END LIST OF CARS */
/* START NAVIGATION HORIZONTAL */
/* line 10, ../../sass/pages/page_main.sass */
.nav_horizontal_long {
  overflow: hidden;
}
/* line 13, ../../sass/pages/page_main.sass */
.nav_horizontal_long ul {
  width: 5000px;
}

/* line 16, ../../sass/pages/page_main.sass */
.nav_horizontal__tail {
  width: 140px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 3px;
  z-index: 999;
}
/* line 24, ../../sass/pages/page_main.sass */
.nav_horizontal__tail:before {
  content: url(../../images/nav_handler_gradient.png);
  position: absolute;
  top: 0;
  left: 1px;
  width: 80px;
  height: 26px;
}

/* line 32, ../../sass/pages/page_main.sass */
.nav_horizontal__tail__inner {
  background: #FFF;
  width: 62px;
  height: 26px;
  float: right;
  position: relative;
}

/* line 39, ../../sass/pages/page_main.sass */
.nav_horizontal__tail__handler {
  background: #fff;
  -moz-border-radius: 1pt;
  -webkit-border-radius: 1pt;
  border-radius: 1pt;
  border: 1px solid #C2C2C2;
  cursor: pointer;
  width: 32px;
  height: 26px;
  position: absolute;
}
/* line 48, ../../sass/pages/page_main.sass */
.nav_horizontal__tail__handler.rs-carousel-action-active {
  z-index: 2;
  border-color: #2A363B;
}
/* line 52, ../../sass/pages/page_main.sass */
.nav_horizontal__tail__handler:before {
  content: "";
  height: 14px;
  position: absolute;
  top: 6px;
  width: 6px;
  left: 12px;
}
/* line 60, ../../sass/pages/page_main.sass */
.nav_horizontal__tail__handler:hover {
  border-color: #2A363B;
}

/* line 64, ../../sass/pages/page_main.sass */
.nav_horizontal__tail__handler__l {
  left: -1px;
}
/* line 67, ../../sass/pages/page_main.sass */
.nav_horizontal__tail__handler__l:before {
  background-position: -30px -159px;
}
/* line 71, ../../sass/pages/page_main.sass */
.nav_horizontal__tail__handler__l.rs-carousel-action-active:before, .nav_horizontal__tail__handler__l:hover:before {
  background-position: -24px -171px;
}

/* line 74, ../../sass/pages/page_main.sass */
.nav_horizontal__tail__handler__r {
  right: 0;
}
/* line 77, ../../sass/pages/page_main.sass */
.nav_horizontal__tail__handler__r:before {
  background-position: -42px -135px;
}
/* line 81, ../../sass/pages/page_main.sass */
.nav_horizontal__tail__handler__r.rs-carousel-action-active:before, .nav_horizontal__tail__handler__r:hover:before {
  background-position: -36px -147px;
}

/* END NAVIGATION HORIZONTAL */
/* END MAIN PAGE */
/* START FOOTER */
/* line 3, ../../sass/_footer.sass */
footer {
  background: #2A363B;
  min-height: 232px;
  padding-top: 30px;
}
/* line 8, ../../sass/_footer.sass */
footer .wrapper {
  overflow: hidden;
}
/* line 11, ../../sass/_footer.sass */
footer .h6-light {
  min-height: 27px;
  text-transform: uppercase;
  padding-bottom: 15px;
}

/* line 16, ../../sass/_footer.sass */
.footer__list {
  font-size: 12px;
}

/* line 19, ../../sass/_footer.sass */
.footer__list__item {
  display: block;
  margin-bottom: 10px;
}
/* line 24, ../../sass/_footer.sass */
.footer__list__item .list__item__a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 28, ../../sass/_footer.sass */
.footer__bottom {
  margin-top: 20px;
  border-top: 1px solid #384950;
  padding-top: 15px;
}
/* line 33, ../../sass/_footer.sass */
.footer__bottom .col-sm-3 {
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-top: -2px;
}
/* line 38, ../../sass/_footer.sass */
.footer__bottom .col-sm-3 .f_11 {
  margin-top: -2px;
}
/* line 41, ../../sass/_footer.sass */
.footer__bottom .icon_social_fb {
  margin: 0 10px 0 15px;
}

/* line 44, ../../sass/_footer.sass */
.icon_social {
  width: 16px;
  height: 16px;
}

/* line 48, ../../sass/_footer.sass */
.icon_social_fb {
  background-position: -87px -86px;
}
/* line 59, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon_social_fb:hover, .icon_social_fb.fb-hover {
  background-position: -103px -70px;
}
/* line 51, ../../sass/_footer.sass */
.icon_social_fb:hover {
  background-position: -103px -70px;
}

/* line 54, ../../sass/_footer.sass */
.icon_social_instagram {
  background-position: -131px -42px;
}
/* line 59, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon_social_instagram:hover, .icon_social_instagram.instagram-hover {
  background-position: -147px -26px;
}
/* line 57, ../../sass/_footer.sass */
.icon_social_instagram:hover {
  background-position: -147px -26px;
}

/* END FOOTER */
@media (min-width: 320px) and (max-width: 1105px) {
  /* line 7, ../../sass/_media.sass */
  .b_search__top_visible .select2 {
    width: 110px;
  }
}
/* @media (min-width: 320px) and (max-width: 1024px)
 * body
 * 	overflow: scroll */
/* @media (-webkit-min-device-pixel-ratio: 2)
 * .ln_ru
 * 	&:before
 * 		content: url(../images/icons/flag_ru@2x.png) 
 * 		zoom: 0.5 */	 */
