/* START MAIN PAGE */
.list__item__a
	color: $c_footer_link
	font-size: 12px
	
.page
	min-height: 500px
	position: relative
					
	&:before
		background: $c_bg_body
		content: ''
		color: rgba(0,0,0,0)
		position: absolute
		left: 0
		top: 0
		bottom: 0
		width: 50%
		
	
	>.wrapper
		>.row.table
			margin: 0 auto
				
	.page_left
		padding-left: 0
		background: $c_page_right
		z-index: 1
		vertical-align: top 

		.page_left_bg
			background: $c_bg_body
			position: absolute
			top: 0
			left: 0
			right: 10px
			bottom: 0
			z-index: -1
			
		.page_left_content
			padding-bottom: 80px
			
		h3
			border-top: 1px solid $c_silver
			outline: none
			
			&:first-child
				border-top: none
				padding-top: 5px
				margin-bottom: -5px
				
			.bounce
				margin-left: 10px
				
			a
				color: $c_header
				display: block 
				min-height: 43px
				line-height: 43px
				
		.menu_left
			padding-right: 20px
					
		.menu_left__list
			margin-bottom: 20px
			
		.list__item__a		
			display: inline-block
			height: 24px
			line-height: 24px
			
			&:hover
				text-decoration: underline 
				
		.banner
			margin: 15px 0 28px 0
			
	.page_right
		background: $c_page_right
		padding-top: 10px

#fb_widget
	margin-bottom: 20px

.support
	position: absolute
	bottom: 30px
	
	.f_11
		color: $c_footer_link
	
	.phone
		color: $c_header
		display: block 
		font: 18px "SFUIDisplay-Semibold"
		margin-top: 6px
		
.bounce
	+border-radius(2pt)
	font: 10px "SFUIDisplay-Semibold"
	padding: 4px 4px 5px
	
.bounce_gray
	background: $c_alto
	color: $c_header
	