@import "_extend.sass"
@import "_header.sass"

@import "pages/_page_default.sass"
@import "blocks/_b_search.sass"
@import "blocks/_b_navigation.sass"
@import "blocks/_b_cars_list.sass"

/* START NAVIGATION HORIZONTAL */				
.nav_horizontal_long
	overflow: hidden
	
	ul
		width: 5000px
		
.nav_horizontal__tail
	width: 140px
	overflow: hidden
	position: absolute
	right: 0
	top: 3px
	z-index: 999
	
	&:before
		content: url(../../images/nav_handler_gradient.png)
		position: absolute 
		top: 0
		left: 1px
		width: 80px
		height: $h_nav_horizontal

.nav_horizontal__tail__inner
	background: #FFF 
	width: 62px
	height: $h_nav_horizontal
	float: right
	position: relative 

.nav_horizontal__tail__handler
	background: $c_page_right
	+border-radius(1pt)
	border: 1px solid $c_nav_handler
	cursor: pointer
	width: 32px
	height: $h_nav_horizontal
	position: absolute
	
	&.rs-carousel-action-active
		z-index: 2
		border-color: $c_header
		
	&:before
		content: ''
		height: 14px
		position: absolute
		top: 6px
		width: 6px
		left: 12px
		
	&:hover
		border-color: $c_header


.nav_horizontal__tail__handler__l
	left: -1px
	
	&:before
		@include icons-sprite(arrow_left_gray)		
		
	&.rs-carousel-action-active, &:hover
		&:before
			@include icons-sprite(arrow_left_dark)

.nav_horizontal__tail__handler__r
	right: 0
	
	&:before
		@include icons-sprite(arrow_right_gray)
		
	&.rs-carousel-action-active, &:hover
		&:before
			@include icons-sprite(arrow_right_dark)
			
/* END NAVIGATION HORIZONTAL */				
				
		
/* END MAIN PAGE */

@import "_footer.sass"
@import "_media.sass"